<header class="header">
    <div class="logo__container">
        <p class="logo"> SMedia </p>
    </div>
    <div class="toggler__container">
        <span class="toggler"></span>
        <span class="toggler"></span>
        <span class="toggler"></span>
    </div>
    <nav class="menu">
        <ul class="list">
            <li class="item">
                <a href="/" class="anchor"> inicio </a>
            </li>
            <li class="item">
                <a href="/chat" class="anchor"> chat </a>
            </li>
            <li class="item">
                <a href="/products" class="anchor"> products </a>
            </li>
        </ul>
    </nav>
</header>